// Base
@media screen and ( min-width: $screen-md-min) {
  .footer-bump {  margin-top: 50px; }
}
@media screen and ( max-width: $screen-md-min) {
  .footer-bump {  margin-top: 0; }
}

.navbar-fred {
  background-color: #ef4723;
  a {
    color: #000;
    decoration: none;
  }
  .navbar-heavy {
    font-weight: 800;
    font-size: larger;
  }
  .navbar-links {
    font-weight: 600;
  }
 }
 
h4 {
  font-weight: 600;
}

